*{margin:0px;
    padding:0px;}
  
  body{background-color: rgb(228, 224, 220);}
  
  .header_section{width: 100%;
                  background-color: rgb(177, 96, 39);
                  display: flex;
                  margin: 0 auto;
              }
  .image_container{width: 30%;
      }
  .image_container .img1{width: 30%;
      height: 100%;
      margin-left: 9.2cm;
      margin-top: -10px;
   }
  
  .text_container{width: 70%;}
  
  .text_container h1{
                     margin-top: 20px;
                    margin-left: 80px;
                     font-size:65px;
                     /* font-family: 'Black Ops One', cursive; */
                     font-family: "Stick No Bills", sans-serif;
                     color: rgb(70, 15, 15);
                    }
  
  .text_container h1:hover{color: white;}
  
  .header_section2{width:100%;
      background-color: rgb(177, 96, 39);
      position: sticky;
     top: 0px;}
  
  .header_section2 h3{color:rgb(70, 15, 15) ;
                     text-align: center;
                    position: sticky;
                    margin-top: 0px;}
  
  .header_section2 h3:hover{color: white;
                        background-color: rgb(70, 15, 15);}
  
                    .header2{color: rgb(70, 15, 15) ;
                      margin-top: 0.3cm;
                      text-align: center;
                      word-spacing: 4px;
                      font-size:32px;
                      line-height: 40px;
                      letter-spacing: 2px;
                     }
  
                     .para1{width: 30%;
                      height: 125px;
                   border:2px solid rgb(70, 15, 15);
                   padding: 20px;
                  }
               .types{width: 95%;
                      margin: 0 auto;
                      margin-top: 0.5cm;}
                  
  
              .sub_head1{font-family:"Permanent Marker", cursive;
                          font-size: 35px;
                                text-align: center;
                                letter-spacing: 2px;
                                 color: rgb(70, 15, 15);
                                 transition: all 0.2s linear;
                              }
              .sub_head1:hover{color:white;
                   
                   transform: scale(1.25);}
  
            p{ letter-spacing: 1px;
                    margin-top: 0.2cm;
                     /* margin-left: 0.2cm; */
                    /* margin-right: 0.25cm;} */
            }        
  
            li{letter-spacing: 1px;
              word-spacing: 1px;
          margin-top: 0.3cm;}
  
  
          .top_brands{max-width: 55%;
              margin: 0 auto;
              margin-top: 0.4cm;
          }
  
  
          .top_brands .sub_head1{font-family: 'Chewy', cursive;
              text-align: center;
              letter-spacing: 4px;
              font-style: italic;
              font-weight: bolder;
              font-size: 33px;
               color: rgb(70, 15, 15);}
  
              
          
           /* .top_brand h1{color:rgb(70, 15, 15);
                 text-align: center;
                font-weight: bolder;
            font-size: 40px;
          font-family:font-family: 'Permanent Marker', cursive; ; } */
          .container .itemcontainer{padding: 15px;}
          .container{margin: 30px; 
          }     
          
          .itemcontainer{
              width: 55%;
              margin: 0 auto;
          display: flex;}
          
          figure{width: 40%;
          
           max-height: 200px;
          overflow: hidden;}
  
          figure:hover{transition: all 0.5s linear;
              transform: scale(1.20);}
          
          figure image{width: 100%;
               object-fit: cover;
               object-position: right;
               }
               
          
          .textcontainer{width: 60%;
          margin-left: 30px;
               }
          .textcontainer1{width: 60%;
          margin-right: 30px;
                }
          
                figure1{width: 40%;
          
                    max-height: 200px;
                 overflow: hidden;}
             
            figure1 image{width: 100%;
                        object-fit: cover;
                        object-position: right;
                        }
          
          
          .textcontainer h2{
          font-size: 24px;
          
          font-weight:bolder;}
  
          .textcontainer h2:hover{text-decoration: underline;}
          
          .textcontainer p{
            font-family:'Times New Roman', Times, serif;
            margin-top: 20px;
            font-size: 20px;
            word-spacing: 2px;
          }
          
          .textcontainer1 h2{
            font-size: 24px;
               
                 font-weight:bolder;}
           
           .textcontainer1 h2:hover{text-decoration: underline;}
           
                 .textcontainer1 p{
                   font-family:'Times New Roman', Times, serif;
                   margin-top: 20px;
                   font-size: 20px;
                   word-spacing: 2px;
                 }
  
        .gallery{width: 100%;
              margin-top: 0.3cm;
            }
                 
         .gallery .sub_head1{font-family: 'Chewy', cursive;
          text-align: center;
           font-size:30px;
         
           
           margin-bottom: 1cm;
           font-weight: 50px;
           letter-spacing: normal;
            color: rgb(70, 15, 15);
            font-style: italic;}
      
            .row{
              
              width: 100%;
              height: 300px;
              display: flex;
              background-color:rgb(177, 96, 39);
              justify-content:space-evenly;
              align-items:flex-end;
              }
              
              
              .col{
                 background-color: rgb(177, 96, 39);
                  width: 30%;
      }
      
      .col:hover{transition: all 5s linear;
          transform: scale3d(1.25);}
              
          
              img{height: 250px;
                  width: 100%;
               margin-top: 0px;
               margin-left: 3px;
              border-radius: 10px;}
              .col img:hover{transition: all .1s linear;
                  transform:scale(1.25);}
          
  
  
              .h{text-align: center;
                  color: rgb(70, 15, 15);
                 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
             font-size: 25px;
              margin-top: 1cm;
          margin-bottom: 0.3cm;}
             
              .form{background-color:rgb(177, 96, 39) ;
                 width: 60%;
                 
                  margin: auto;
                  margin-bottom: 1cm;
                  
                  
                 }
             form{padding: 20px;}
  
             input:hover{background-color:burlywood;}
  
             textarea:hover{background-color: burlywood;}
             
             button{background-color:rgb(70, 15, 15) ;
                    color: white;
                   border-radius: 3px;
                    cursor: pointer;
                  padding: 3px;
                   }
                   button:hover{background-color: white;
                                color: rgb(70, 15, 15);
                          
                          font-weight: bolder;} 
  
                  
             
                                /* <div class="footer">
      <div class="image_part">
          <img class="img2" src="./New folder/coffee_icon-icons.com_50414.png">
      </div> */
      .footer{width: 100%;
      background-color: rgb(177, 96, 39);
      display: flex;
      }
  
      .footer .image_part{width: 30%;}
  
      .img2{width: 40%;
           height: 80%;
          margin-left: 3cm;
      margin-top: 0.5cm;}
  
          /* <div class="reachus">
          <h1 class="reach">Reach Us</h1>
          <ul>
              <li>Instagram</li>
              <li>Facebook</li>
              <li>Twitter</li>
          </ul>
          <h4>@ 2021 Brew Beans</h4>
      </div> */
      .reachus{width: 40%;
               text-align: center;}
      
  .reachus ul{
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 20px 0;
  }
  .reachus ul li{
      margin: 0 10px;
      margin-top: 20px;
  }
  input, textarea{
      padding: 0 5px;
  }
  .reachus .reach{font-family: 'Montserrat', sans-serif;
                  margin-top: 0.3cm;
                 font-size: 40px;}
  .reachus h4{margin-top: 1.3cm;}
  
  /* <div class="address">
  <h1 class="A">ADDRESS</h1><br><br>
  13031 West Jefferson Boulevard, Suite 200
  <br><br>
  Los Angeles, CA, USA
  <br><br>
  90094
  <br><br>
  View directions */
  
  .address .A{margin-top: 0.3cm;
      font-family: 'Montserrat', sans-serif;}
  
      .address {text-align: left;}
  
  .icon{width: 1.4cm;
  height: 1.3cm;
  margin-top: 7px;
  margin-left: 7px;}
  
  .icon_section{width:1.75cm ;
             height: 1.75cm;
             background-color:rgb(177, 96, 39);
             object-position: center;
             border: 2px solid rgb(70, 15, 15);
             border-radius: 50px;
             margin:2px;
          position: fixed;
          right: 10px;}